[submodule "100devs-projects/01-push-project0001-calculator/100devs-calculator"]
	path = 100devs-projects/01-push-project0001-calculator/100devs-calculator
	url = https://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@github.com/AnazThaj/100devs-calculator.git
