/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    width: 80%;
    margin: 0 auto;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
    width: 100%;
    height: 30px;
    margin: 10px auto 20px auto;
}

header nav > * {
    width: 20%;
    float: left;
    margin: 0 10px;
    list-style: none;
}


nav > ul > li {
    float: left;
    width: 33%;
}

main {
    width: 80%;
    margin: 50px auto 0 auto;
    clear: both;
}
main > section {
    width: 50%;
    height: 600px;
    float: left;
}

section > a {
    width: 100%;
    margin: 0 10px;
}

img {
    width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
