li {
    color: blue;
    text-decoration: underline;
    font-size: 15px;
    background: gray;
}

section {
    height: 300px;
    background: purple;
    border: 5px solid gold;
}

h1 {
    font-size: 30px;
    color: gold;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

footer {
    background: brown;
    height: 300px;
    width: 70%;
}

h2 {
    text-decoration: line-through;
}