<!DOCTYPE html>
<html lang="en">

<head>
  <title>Build a CRUD App</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="#" />
</head>

<body>
  <h1>Build a CRUD App</h1>
  <form action="/quotes" method="POST">
    <input type="text" placeholder="Name" name="name" />
    <input type="text" placeholder="Quote" name="quote" />
    <button type="submit">Submit</button>
  </form>
  <h2>Quotes</h2>
  <ul class="quotes">
    <% for(var i=0; i< quotes.length; i++) {%>
      <li class="quote">
        <span>
          <%= quotes[i].name %>
        </span>:
        <span>
          <%= quotes[i].quote %>
        </span>
      </li>
      <%} %>
  </ul>

  <div>
    <h2>Darth Vader invades!</h2>
    <p>Replace first Yoda's quote with a quote written by Darth Vader</p>
    <button id="update-button">Replace Yoda's quote</button>
  </div>
  <script src='/main.js'></script>
</body>

</html>
