<!DOCTYPE html>
<html lang="en">

<head>
  <title>Build a CRUD App</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="#" />
</head>

<body>
  <h1>Build a CRUD App</h1>
  <form action="/quotes" method="POST">
    <input type="text" placeholder="Name" name="name" />
    <input type="text" placeholder="Quote" name="quote" />
    <button type="submit">Submit</button>
  </form>
</body>

</html>
